body {
    font-family: "Roboto", sans-serif;
    color: rgb(67 68 85);
    background-color: rgb(255 255 255);
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */ 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgb(77 90 229);
}

.header-logo .logo-part {
    color: rgb(46 47 66);
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}

.contacts {
    font-style: normal;
}
.contacts-link {
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: rgb(64 75 191);
}
.hero-section {
    background-color: rgb(46 47 66);
}
.main-title {
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */ 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgb(255 255 255);
}

.order-service-btn {
    cursor: pointer;
    background: rgb(77 90 229);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgb(255 255 255);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: rgb(64 75 191);
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}   
.benefits-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}
.team-section {
    background-color: rgb(244 244 253);
}

.section-title {
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: rgb(46 47 66);
}
.team-item {
    background-color: rgb(255 255 255);
}
.team-name {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}
.team-role {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}
.portfolio-category {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}

.page-footer {
    background-color: rgb(46 47 66);
}
.footer-logo .logo-part {
    color: rgb(244 244 253);
}
.footer-text {
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(244 244 253);
}

